.decorator-wrapper {
    margin: auto;
    max-width: 80em;
}
.submitbtn {
    float: right;
}
.knapp {
    float: right;
}
.panel {
    overflow: auto;
}
.infocontainer {
    margin-top: 2em;
}
.closebox {
    margin-top: 6em;
    display: block;
}
