.body-wrapper {
    float: none;
}
.message-text {
    font-size: 16px;
}
.snakkeboble {
}
.snakkeboble--hoyre {
    float: right;
    display: contents;
}
.snakkeboble-panel {
    max-width: 80%;
    float: right;
    background-color: #99c2e8 !important;
}
.Person-Icon {
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}
.iconholder {
    align-content: center;
}
.timestamp {
    float: right;
}
