.marginRemover {
    overflow: hidden;
    --slds-c-card-header-spacing-block-end: 0px;
    --slds-c-card-body-spacing-block-start: 0px;
}

.paddingAndCustomColor {
    background-color: var(--overwrite-header-color, white);
    padding-bottom: var(--lwc-varSpacingVerticalSmall, 0.75rem);
}
