.scroller {
    height: 35vh;
    overflow-y: scroll;
}

.colorOverwrite {
    background-color: var(--overwrite-header-color, white);
    color: black;
}

.toolbar {
    display: block;
    border: 0;
}

.englishBtn {
    min-height: 1rem;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
}

.button-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.button-class {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media only screen and (max-width: 2265px) {
    .button-class {
        margin-left: 0;
        justify-content: center;
    }
}
