.scroller {
    height: 35vh;
    overflow-y: scroll;
}

.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.endDialogueBtn {
    line-height: 1.275rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.colorOverwrite {
    background-color: var(--overwrite-header-color, white);
    color: black;
}
