.message-from {
    margin-right: 0.5em;
}

.message-text {
    font-size: 16px;
}
.snakkeboble-panel {
    display: block;
    max-width: 80%;
}
.ikon {
    margin-top: 1em;
}
.timestamp {
    font-size: 0.8em;
}
